@model UserProfile

@{
    ViewData["Title"] = "J. Doe profile page";
}

<h1>Profile Page</h1>
<br />
 
<div class="card" style="width: 18rem;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.FullName</h5>
        <h7 class="card-title">@Model.UserProfileId</h7>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Skilled Languages</li>
        @foreach (string languageSkill in Model.SkilledLanguages)
        {
            <li class="list-group-item">@languageSkill</li>
        }
    </ul>
    <div class="card-body">
        <a href="@Model.GitHubUrl" class="card-link">@Model.GitHubUrl</a><br />
        <a href="@Model.Email" class="card-link">@Model.Email</a><br />
        <a href="#" class="card-link">@Model.PhoneNumber</a>
    </div>
</div>